/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#header h1 {
  color: #fff;
  font-size: 14px;
  line-height: 0.9;
  font-family: 'Migra-Extrabold';
  margin-top: 5px;
  padding: 20px 20px 20px 70px;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
}