/* border-box 초기화 */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 가로모드 글씨 확대 초기화 */
html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* 공백 초기화 */
body,
div,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
blockquote,
li,
ol,
p,
pre,
code,
select,
table,
td,
textarea,
th,
ul,
button,
figure,
figcaption {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

/* 시맨틱 태그 초기화 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 링크 초기화 */
a {
  text-decoration: none;
  color: #000;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    font-size: 16px;
    line-height: 1.4;
    color: #202020;
    font-family: 'Lexend', -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 링크 초기화 */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}
/* 목록 초기화 */
li,
ol,
ul {
  list-style: none;
}

/* 버튼 초기화 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 폰트 스타일 초기화 */
em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}
/* 이미지 초기화 */
img {
    vertical-align: top;
    width: 100%;
}
/* 보더 초기화 */
img,
fieldset,
button {
  border: 0;
}
/* 클리어 픽스 */
.clearfix {
  zoom: 1;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}
/* table */
table {
    border: 0;
    border-collapse: collaspe;
    border-spacing: 0;
    width: 100%;
}

/* 디자인 초기화 */
input,
textarea,
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
}

/* 스킵메뉴 */
#skip a {
    position: absolute;
    left: 10px;
    top: -92px;
    z-index: 100000;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    background: #000;
    font-family: "Chosunilbo_myungjo";
    transition: none;
}

#skip a:focus,
#skip a:active {
    top: 20px;
    transition: all 0.6s ease;
}

/* 글씨 감추기 */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* 이미지 대체(ir) 효과 */
.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}