#section3 {
    background: #7899F3;
    overflow: hidden;
    position: relative;
    color: #000C42;
    font-family: 'Migra-Extrabold';
}
.sec3 {}
.sec3_top {
    display: flex;
    justify-content:flex-end;
    align-items:baseline;
    margin-right: 10vw;
}
.sec3_top .left {
    font-size: 2.5vw;
    margin-right: 5vw;
    font-family: 'NexonLv2Gothic';
}
.sec3_top .right {
    font-size: 20vw;
    font-family: 'Migra-Extrabold';
    color: #fff;
    text-align: right;
}

.list {
    background: #00006B;
    position: relative;
}
.list_num {
    padding-top: 5vw;
    display: flex;
    font-size: 25vw;
    color: #C23F1F;
    font-family: 'Migra-Extrabold';
    text-align: center;
    justify-content: space-around;
}
.list_num .num1::before {
    white-space: pre;
    content: 'SITE \a CODING ';
    text-align: left;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    top: 43%;
    left: 8%;
    line-height: 0.9;
}
.list_num .num2::before {
    /* white-space: pre; */
    content: 'JAVASCRIPT';
    text-align: left;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 36%;
    line-height: 0.9;
}
.list_num .num3::before {
    white-space: pre;
    content: 'TEAM \a PROJECT ';
    text-align: right;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    top: 43%;
    left: 70%;
    line-height: 0.9;
}
/* web */
.site_coding {
    margin-top: 10vw;
}
.work {
    margin-top: 10vw;
    display: flex;
}
/* 왼쪽 붙이기 */
.site_left1 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: right;
    margin-left: 3vw;
}
.site_left1 h3 {
    font-size: 8vw;
    line-height: 0.8;
    margin-left: 5vw;
}
.site_p1 {
    margin-right: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 40vh;
}
.site_right1 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 100vh;
}
.site_right1 .img1 {
    background-image: url(../img/web_standard.png);
    position: absolute;
    top: -50%;
    right: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* 오른쪽 붙이기 */
.site_left2 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 100vh;
}
.site_left2 .img1 {
    background-image: url(../img/web_responsive.png);
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.site_right2 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: left;
    margin-right: 3vw;
}
.site_right2 h3 {
    font-size: 8vw;
    line-height: 0.8;
    position: relative;
    margin-right: 5vw;

}
.site_p2 {
    margin-left: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 40vh;
}


.react {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}
.react .react_img {
    position: relative;

}
.react .react_img .react_h {
    position: absolute;
    top: -17%;
    left: 15.5%;
    color: #fff;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.react .react_img img {
    width: 65vw;
    float: right;
}
.react .react_flex {
    display: flex;
}
.react .react_flex .react_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 200px;
}
.react .react_flex .react_view_btn {
    display: flex;
    color: #fff;
    margin-top: 50px;
    position: relative;
    justify-content: flex-end;
    margin-left: 600px;
}
.react .react_flex .react_view_btn div:nth-child(1) {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 25px 50px;
    margin-right: 20px;
}
.react .react_flex .react_view_btn div:nth-child(2) {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 25px 50px;
}
.youtube {
    display: flex;
    flex-direction: column;
}
.youtube .youtube_img {
    position: relative;
    margin-top: 50px;
}
.youtube .youtube_img img {
    width: 65vw;
    float: right;

}
.youtube .youtube_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 200px;
}
.youtube_view_btn {
    display: flex;
    color: #fff;
    margin-top: 150px;
    justify-content: flex-end;
    margin-right: 400px;
    position: relative;
}
.youtube_view_btn div:nth-child(1) {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    margin-right: 20px;
}
.youtube_view_btn div:nth-child(2) {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}
.youtube_view_btn .site_left_hand {}
.youtube_view_btn .site_left_hand img {
    width: 60vw;
    left: -5%;
    top: -50%;
    position: absolute;
}
.vue {
    display: flex;
    margin-top: 300px;
}
.vue .vue_img {
    position: relative;
}
.vue .vue_img .vue_h {
    position: absolute;
    top: -17%;
    right: -50%;
    color: #000C42;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.vue .vue_img img {
    width: 65vw;
}
.vue .vue_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-top: 100px;
    margin-left: 30px;
}
.vue_view_btn {
    display: flex;
    color: #fff;
    margin-top: 150px;
    position: relative;
    /* justify-content: flex-end; */
    margin-left: 300px;
}
.vue_view_btn div:nth-child(1) {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    margin-right: 20px;
}
.vue_view_btn div:nth-child(2) {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}
.vue_view_btn .site_right_hand {}
.vue_view_btn .site_right_hand img {
    width: 60vw;
    right: 0;
    top: -60%;
    position: absolute;
}


.php {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}
.web_php_img {
    position: relative;

}
.web_php_img img {
    width: 65vw;
    float: right;
}
.web_php_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 200px;
}
.web_php_h {
    position: absolute;
    top: -16%;
    left: 15.5%;
    color: #000C42;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}


.php_view_btn {
    display: flex;
    color: #fff;
    margin-top: 150px;
    justify-content: flex-end;
    margin-right: 400px;
    position: relative;
}
.site_left_hand img {
    width: 60vw;
    left: 0;
    top: -50%;
    position: absolute;
    
}
.php_view_btn div:nth-child(1){
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    margin-right: 20px;
    
}
.php_view_btn div:nth-child(2){
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}




