#section3 {
    background: #7899F3;
    overflow: hidden;
    position: relative;
    color: #000C42;
    font-family: 'Migra-Extrabold';
}
.sec3 {}
.sec3_top {
    display: flex;
    justify-content:flex-end;
    align-items:baseline;
    margin-right: 10vw;
}
.sec3_top .left {
    font-size: 2.5vw;
    margin-right: 5vw;
    font-family: 'NexonLv2Gothic';
}
.sec3_top .right {
    font-size: 20vw;
    font-family: 'Migra-Extrabold';
    color: #fff;
    text-align: right;
}

.list {
    background: #00006B;
    position: relative;
}
.list_num {
    padding-top: 5vw;
    display: flex;
    font-size: 25vw;
    color: #C23F1F;
    font-family: 'Migra-Extrabold';
    text-align: center;
    justify-content: space-around;
}
.list_num .num1::before {
    white-space: pre;
    content: 'SITE \a CODING ';
    text-align: left;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    top: 43%;
    left: 8%;
    line-height: 0.9;
}
.list_num .num2::before {
    /* white-space: pre; */
    content: 'JAVASCRIPT';
    text-align: left;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 36%;
    line-height: 0.9;
}
.list_num .num3::before {
    white-space: pre;
    content: 'TEAM \a PROJECT ';
    text-align: right;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    top: 43%;
    left: 70%;
    line-height: 0.9;
}
/* web */
.site_coding {
    margin-top: 10vw;
}
.work {
    margin-top: 10vw;
    display: flex;
}
/* 오른쪽으로 붙이기 */
/* standard */
.standard .site_left1 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: right;
}
.standard .site_left1 h3 {
    font-size: 8vw;
    line-height: 0.8;
    margin-left: 6vw;
    display: inline-block;
}
.standard .site_left1 .site_p1 {
    margin-right: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 40vh;
}
.standard .site_right1 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 40vw;
}
.standard .site_right1 .img1 {
    background-image: url(../img/web_standard.png);
    position: absolute;
    top: -50%;
    right: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* react */
.react .site_left1 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: right;
}
.react .site_left1 h3 {
    font-size: 8vw;
    line-height: 0.8;
    margin-left: 6vw;
    display: inline-block;
}
.react .site_left1 .site_p1 {
    margin-right: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 40vh;
}
.react .site_right1 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 40vw;
}
.react .site_right1 .img1 {
    background-image: url(../img/react_site.png);
    position: absolute;
    top: -50%;
    right: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* react2 */
.react2 .site_left1 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: right;
}
.react2 .site_left1 h3 {
    font-size: 8vw;
    line-height: 0.8;
    margin-left: 6vw;
    display: inline-block;
}
.react2 .site_left1 .site_p1 {
    margin-right: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 65vh;
}
.react2 .site_right1 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 40vw;
}
.react2 .site_right1 .img1 {
    background-image: url(../img/react_youtube.png);
    position: absolute;
    top: -50%;
    right: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* php */
.php .site_left1 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: right;
}
.php .site_left1 h3 {
    font-size: 8vw;
    line-height: 0.8;
    margin-left: 6vw;
    display: inline-block;
}
.php .site_left1 .site_p1 {
    margin-right: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 40vh;
}
.php .site_right1 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 40vw;
}
.php .site_right1 .img1 {
    background-image: url(../img/php_site.png);
    position: absolute;
    top: -50%;
    right: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}




/* 왼쪽으로 붙이기 */
/* responsive */
.responsive .site_left2 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 40vw;
}
.responsive .site_left2 .img1 {
    background-image: url(../img/web_responsive.png);
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.responsive .site_right2 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: left;
}
.responsive .site_right2 h3 {
    font-size: 8vw;
    line-height: 0.8;
    position: relative;
    display: inline-block;
    margin-left: -11vw;

}
.responsive .site_right2 .site_p2 {
    margin-left: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 40vh;
}

/* vue */

.vue .site_left2 {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 40vw;
}
.vue .site_left2 .img1 {
    background-image: url(../img/vue_site.png);
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.vue .site_right2 {
    width:30%;
    position: relative;
    z-index: 100;
    text-align: left;
}
.vue .site_right2 h3 {
    font-size: 8vw;
    line-height: 0.8;
    position: relative;
    display: inline-block;
    margin-left: -11vw;

}
.vue .site_right2 .site_p2 {
    margin-left: 1vw;
    font-size: 1.1vw;
    word-break: keep-all;
    font-family: 'NexonLv2Gothic';
    line-height: 1.5;
    font-weight: 300;
    padding-top: 40vh;
}



