#section4 {
    height: 10000px;
    background: #6C90EE;
    overflow: hidden;
    position: relative;
    color: #000C42;
    font-family: 'Migra-Extrabold';
}
.sec4 {
    position: relative;
}
.sec4_img {}
.sec4_img img:nth-child(1) {
    position: absolute;
    top: 23%;
    left: -7%;
    width: 100vw;
}
.sec4_img img:nth-child(2) {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 20vw;
}
.sec4_img img:nth-child(3) {
    position: absolute;
    top: 22%;
    left: 40%;
    width: 20vw;
}
.sec4_img img:nth-child(4) {
    position: absolute;
    top: 22%;
    left: 75%;
    width: 20vw;
}
.sec4_img img:nth-child(5) {
    position: absolute;
    top: 28%;
    left: 15%;
    width: 20vw;
}
.sec4_img img:nth-child(6) {
    position: absolute;
    top: 26%;
    left: 60%;
    width: 20vw;
}
.sec4_img img:nth-child(7) {
    position: absolute;
    top: 43%;
    left: 31%;
    width: 40vw;
}

.sec4_top {
    position: relative;
}
.sec4_top .SCRIPT {
    font-size: 25vw;
    color: #fff;
    margin-left: -250px;
}

.sec4_top img:nth-child(1) {
    width: 18vw;
    position: absolute;
    left: 0;
    bottom: 0;
}
.sec4_top img:nth-child(2) {
    width: 18vw;
    position: absolute;
    left: 15%;
    bottom: 0;
}
.sec4_top img:nth-child(3) {
    width: 18vw;
    position: absolute;
    left: 30%;
    bottom: 0;
}
.sec4_top img:nth-child(4) {
    width: 18vw;
    position: absolute;
    left: 45%;
    bottom: 0;
}
.sec4_top img:nth-child(5) {
    width: 18vw;
    position: absolute;
    left: 60%;
    bottom: 0;
}
.sec4_top img:nth-child(6) {
    width: 18vw;
    position: absolute;
    left: 75%;
    bottom: 0;
}
.sec4_top img:nth-child(7) {
    width: 18vw;
    position: absolute;
    left: 90%;
    bottom: 0;
}
.game {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}
.game .game_img {
    position: relative;
    left: 10%;
}
.game .game_img .game_h {
    position: absolute;
    bottom: -20%;
    left: -5%;
    color: #fff;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.game_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-left: 600px;
}
.game .game_img img {
    width: 80vw;
}
.game_flex {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.game_button {
    color: #fff;
    margin-left: 350px;
}
.game_button div {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}
.parallax {
    margin-top: 1200px;
    display: flex;
    flex-direction: column;
}
.parallax .parallax_img {
    left: 10%;
    position: relative;
}
.parallax .parallax_img img {
    width: 80vw;
}
.parallax .parallax_img .parallax_h {
    position: absolute;
    bottom: -17%;
    right: 20%;
    color: #fff;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.parallax .parallax_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-left: 360px;
    margin-top: 50px;
    /* margin-top: 100px; */
    /* text-align: center; */
}
.parallax_button {
    color: #fff;
}
.parallax_button div {
    background: #4174FB;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    position: absolute;
    left: -70%;
    top: 17%;
    z-index: 3;
}


.mouse {
    display: flex;
    flex-direction: column;
    margin-top: 1000px;
}
.mouse .mouse_img {
    position: relative;
    left: 10%;
}
.mouse .mouse_img .mouse_h {
    position: absolute;
    bottom: -20%;
    left: -5%;
    color: #fff;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.mouse_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-left: 600px;
}
.mouse .mouse_img img {
    width: 80vw;
}
.mouse_flex {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.mouse_button {
    color: #fff;
    margin-left: 350px;
}
.mouse_button div {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}


.slider {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
.slider .slider_img {
    left: 10%;
    position: relative;
}
.slider .slider_img img {
    width: 80vw;
}
.slider .slider_img .slider_h {
    position: absolute;
    bottom: -17%;
    right: 20%;
    color: #fff;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.slider .slider_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-left: 360px;
    margin-top: 50px;
    /* margin-top: 100px; */
    /* text-align: center; */
}
.slider_button {
    color: #fff;
}
.slider_button div {
    background: #4174FB;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    position: absolute;
    left: -113%;
    top: 17%;
    z-index: 3;
}

.search {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}
.search .search_img {
    position: relative;
    left: 10%;
}
.search .search_img .search_h {
    position: absolute;
    bottom: -20%;
    left: -5%;
    color: #000C42;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.search_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-left: 600px;
}
.search .search_img img {
    width: 80vw;
}
.search_flex {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.search_button {
    color: #fff;
    margin-left: 350px;
}
.search_button div {
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}

.quiz {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
.quiz .quiz_img {
    left: 10%;
    position: relative;
}
.quiz .quiz_img img {
    width: 80vw;
}
.quiz .quiz_img .quiz_h {
    position: absolute;
    bottom: -17%;
    right: 20%;
    color: #000C42;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.quiz .quiz_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-left: 360px;
    margin-top: 50px;
    /* margin-top: 100px; */
    /* text-align: center; */
}
.quiz_button {
    color: #fff;
}
.quiz_button div {
    background: #4174FB;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    position: absolute;
    left: -113%;
    top: 17%;
    z-index: 3;
}
