#section5 {
    height: 3500px;
    background: #090994;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-family: 'Migra-Extrabold';
}
.sec5 {}
.sec5_top {
    position: relative;
}
.sec5_top img {
    width: 60vw;
    left: -30%;
    position: absolute;
}
.sec5_top .TEAM_PROJECT {
    font-size: 25vw;
    color: #6C90EE;
    margin-left: -250px;
    line-height: 0.8;
}



.php {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}
.web_php_img {
    position: relative;

}
.web_php_img img {
    width: 65vw;
    float: right;
}
.web_php_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 200px;
}
.web_php_h {
    position: absolute;
    top: -10%;
    left: 15.5%;
    color: #6C90EE;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}


.php_view_btn {
    display: flex;
    color: #fff;
    margin-top: 150px;
    justify-content: flex-end;
    margin-right: 400px;
    position: relative;
}
.site_left_hand img {
    width: 60vw;
    left: 0;
    top: -50%;
    position: absolute;
    
}
.php_view_btn div:nth-child(1){
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    margin-right: 20px;
    
}
.php_view_btn div:nth-child(2){
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}


.reactT {
    display: flex;
    margin-top: 300px;
}
.reactT_img  {
    position: relative;
}
.reactT_img img {
    width: 65vw;
}
.reactT_p {
    font-size: 1vw;
    font-family: 'NexonLv2Gothic';
    line-height: 1.4;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 100px;
}
.reactT_h {
    position: absolute;
    top: -10%;
    right: -51%;
    color: #6C90EE;
    font-size: 8vw;
    line-height: 0.8;
    z-index: 1;
}
.reactT_view_btn {
    display: flex;
    color: #fff;
    margin-top: 150px;
    position: relative;
    /* justify-content: flex-end; */
    margin-left: 300px;
}
.site_right_hand img {
    width: 60vw;
    right: 0;
    top: -60%;
    position: absolute;
    
}
.reactT_view_btn div:nth-child(1){
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
    margin-right: 20px;
    
}
.reactT_view_btn div:nth-child(2){
    background: #000C42;
    border-radius: 50%;
    font-size: 1.8vw;
    padding: 20px 30px;
}