/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #000;
}
#header h1 {
    color: #fff;
    font-size: 14px;
    line-height: 0.9;
    font-family: 'Migra-Extrabold';
    margin-top: 5px;
    padding: 20px 20px 20px 70px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
}

/* section1 */
#section1 {
    height: 100vh;
    background-image: url(../img/main.jpg);
    background-position: center center;
    background-size: cover;
}
.sec1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec1 .text {
    color: #fff;
    font-family: 'Migra-Extrabold';
    font-size: 8vw;
    line-height: 0.9;
}
.sec1 .img .img1 {
    position: absolute;
    right: 0; bottom: 10%;
    width: 50vw;
}
.sec1 .img .img2 {
    position: absolute;
    left: 0; bottom: 10%;
    width: 50vw;
}

/* section2 */
#section2 {
    background: #000;
    overflow: hidden;
    padding-bottom: 20vw;
}
.sec2 .load {
    margin-left: -10vw;
}
.sec2 .load span {
    color: #fff;
    font-size: 30vw;
    font-family: 'Migra-Extrabold';
    white-space: nowrap;
    display: inline-block;
}
.sec2 .about {
    margin-top: 10vw;
    color: #fff;
    position: relative;
}
.sec2 .about h3 {
    text-align: center;
    font-family: 'Migra-Extrabold';
    font-size: 8vw;
    position: relative;
    z-index: 100;
    margin-bottom: 3vw;
} 
.sec2 .about h3 em {
    font-size: 0.9vw;
    font-family: 'NexonLv2Gothic';
    padding-right: 0.5vw;
    opacity: 0.5;
    vertical-align: 2px;
}
.sec2 .about .img {
    width: 15vw;
    position: absolute;
    right: 12vw; top: -3vw;
}
.sec2 .about1 {
    display: flex;
    justify-content: space-between;
}
.sec2 .about1.reverse {
    flex-direction: row-reverse;
    margin-top: 10vw;
}
.sec2 .about1 .left {
    width: 31%;
    padding-left: 5%;
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
}
.sec2 .about1 .right {
    width: 67%;
}
.sec2 .about1.reverse .left {
    text-align: left;
    padding-left: 0;
    padding-right: 5%;
}
.sec2 .about1.reverse .right {
    height: 50vh;
    overflow: hidden;
}


/* section3 */
#section3 {
    background: #7899F3;
}
#section3 h2 {
    color: #fff;
    background: #5D8CF3;
    padding: 1vw 0;
    text-align: right;
    font-size: 20vw;
    line-height: 1;
    padding-top: 4vw;
    font-family: 'Migra-Extrabold';
}
#section3 h2 em {
    font-size: 0.9vw;
    font-family: 'NexonLv2Gothic';
    padding-right: 10px;
    opacity: 0.5;
    vertical-align: 2px;
}
.work-wrap {
    margin-top: 15vw;
}
.work-wrap .work {
    display: flex;
    margin-top: 20vw;
}
/* standard */
.work-wrap .standard .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .standard .left h3 {
    color: #000C42;
    margin-right: -4vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .standard .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 20vw;
}
.work-wrap .standard .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .standard .right .img {
    position: absolute;
    left: 0;
    top: 80%;
    background: url(../img/web_standard.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}

/* responsive */
.work-wrap .responsive .left {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .responsive .left .img {
    position: absolute;
    left: 0;
    top: 80%;
    background: url(../img/web_responsive.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
.work-wrap .responsive .right {
    width: 30%;
    text-align: left;
    position: relative;
    z-index: 100;
}
.work-wrap .responsive .right h3 {
    color: #000C42;
    margin-left: -5vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .responsive .right .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 20vw;
}
/* react */
.work-wrap .react .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .react .left h3 {
    color: #000C42;
    margin-right: -6vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .react .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 20vw;
}
.work-wrap .react .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .react .right .img {
    position: absolute;
    left: 0;
    top: 80%;
    background: url(../img/react_site.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
/* youtube */
.work-wrap .youtube .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .youtube .left h3 {
    color: #000C42;
    margin-right: -4vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .youtube .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 30vw;
}
.work-wrap .youtube .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .youtube .right .img {
    position: absolute;
    left: 0;
    top: 80%;
    background: url(../img/react_youtube.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
/* vue */
.work-wrap .vue .left {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .vue .left .img {
    position: absolute;
    left: 0;
    top: 80%;
    background: url(../img/vue_site.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
.work-wrap .vue .right {
    width: 30%;
    text-align: left;
    position: relative;
    z-index: 100;
}
.work-wrap .vue .right h3 {
    color: #000C42;
    margin-left: -5vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .vue .right .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 20vw;
}
/* php */
.work-wrap .php .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .php .left h3 {
    color: #000C42;
    margin-right: -6vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .php .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 20vw;
}
.work-wrap .php .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .php .right .img {
    position: absolute;
    left: 0;
    top: 80%;
    background: url(../img/php_site.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
#section4 {
    background: #6C90EE;
    padding-top: 10vw;
}
#section4 h3 {
    color: #fff;
    background: #5D8CF3;
    padding: 1vw 0;
    text-align: left;
    font-size: 20vw;
    line-height: 1;
    padding-top: 4vw;
    font-family: 'Migra-Extrabold';
    margin-left: -5vw;
}
.script_wrap {
    /* margin-top: 15vw; */
}
.script_wrap .script {
    margin-top: 20vw;
    position: relative;
}
/* game */
.script_wrap .game {
    height: 20vw;
}
.script_wrap .game .game_flex {
    display: flex;
    /* overflow: hidden; */
}
.script_wrap .game .top {
    width: 100%;
    height: 32vw;
    position: relative;
    /* overflow: hidden; */
}
.script_wrap .game .top .img {
    position: absolute;
    left: 10%;
    top: 80%;
    background: url(../img/game_img.png) no-repeat center center;
    background-size: cover;
    width: 80%;
    height: 120%;
}

.script_wrap .game .game_flex .left {
    width: 30%;
    height: 20vw;
    z-index: 100;
}
.script_wrap .game .game_flex .left h4 {
    color: #fff;
    margin-right: -6vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.script_wrap .game .game_flex .left desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 20vw;
}
.script_wrap .game .game_flex .right {
    width: 70%;
    height: 20vw;
}