/* header */

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #000;
}
#header h1 {
    color: #fff;
    font-size: 14px;
    line-height: 0.9;
    font-family: 'Migra-Extrabold';
    margin-top: 5px;
    padding: 20px 20px 20px 70px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
}

/* section1 */
#section1 {
    height: 100vh;
    background-image: url(../img/main.jpg);
    background-position: center center;
    background-size: cover;
}
.sec1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec1 .text {
    color: #fff;
    font-family: 'Migra-Extrabold';
    font-size: 8vw;
    line-height: 0.9;
}
.sec1 .img .img1 {
    position: absolute;
    right: 0; bottom: 10%;
    width: 50vw;
}
.sec1 .img .img2 {
    position: absolute;
    left: 0; bottom: 10%;
    width: 50vw;
}

/* section2 */
#section2 {
    background: #000;
    overflow: hidden;
    padding-bottom: 20vw;
}
.sec2 .load {
    margin-left: -10vw;
}
.sec2 .load span {
    color: #fff;
    font-size: 30vw;
    font-family: 'Migra-Extrabold';
    white-space: nowrap;
    display: inline-block;
}
.sec2 .about {
    margin-top: 10vw;
    color: #fff;
    position: relative;
}
.sec2 .about h3 {
    text-align: center;
    font-family: 'Migra-Extrabold';
    font-size: 8vw;
    position: relative;
    z-index: 100;
    margin-bottom: 3vw;
} 
.sec2 .about h3 em {
    font-size: 0.9vw;
    font-family: 'NexonLv2Gothic';
    padding-right: 0.5vw;
    opacity: 0.5;
    vertical-align: 2px;
}
.sec2 .about .img {
    width: 15vw;
    position: absolute;
    right: 12vw; top: -3vw;
}
.sec2 .about1 {
    display: flex;
    justify-content: space-between;
}
.sec2 .about1.reverse {
    flex-direction: row-reverse;
    margin-top: 10vw;
}
.sec2 .about1 .left {
    width: 31%;
    padding-left: 5%;
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
}
.sec2 .about1 .right {
    width: 67%;
}
.sec2 .about1.reverse .left {
    text-align: left;
    padding-left: 0;
    padding-right: 5%;
}
.sec2 .about1.reverse .right {
    height: 50vh;
    overflow: hidden;
}


/* section3 */
#section3 {
    background: #7899F3;
}
#section3 h2 {
    color: #fff;
    background: #5D8CF3;
    padding: 1vw 0;
    text-align: right;
    font-size: 20vw;
    line-height: 1;
    padding-top: 4vw;
    font-family: 'Migra-Extrabold';
}
#section3 h2 em {
    font-size: 0.9vw;
    font-family: 'NexonLv2Gothic';
    padding-right: 10px;
    opacity: 0.5;
    vertical-align: 2px;
}
.work-wrap {
    margin-top: 15vw;
    padding-bottom: 10vw;
}
.work-wrap .work {
    display: flex;
    margin-top: 20vw;
}
/* standard */
.work-wrap .standard .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .standard .left h3 {
    color: #000C42;
    margin-right: -4vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .standard .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 15vw;
}
.work-wrap .standard .left .code {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-right: 6vw;
}
.work-wrap .standard .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .standard .right .img {
    position: absolute;
    left: 0;
    top: 45%;
    background: url(../img/web_standard.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}

/* responsive */
.work-wrap .responsive .left {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .responsive .left .img {
    position: absolute;
    left: 0;
    top: 55%;
    background: url(../img/web_responsive.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
.work-wrap .responsive .right {
    width: 30%;
    text-align: left;
    position: relative;
    z-index: 100;
}
.work-wrap .responsive .right h3 {
    color: #000C42;
    margin-left: -5vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .responsive .right .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 13vw;
}

.work-wrap .responsive .right .code {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 6vw;
}


/* react */
.work-wrap .react .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .react .left h3 {
    color: #000C42;
    margin-right: -6vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .react .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 12vw;
}
.work-wrap .react .left .code {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-right: 6vw;
}
.work-wrap .react .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .react .right .img {
    position: absolute;
    left: 0;
    top: 62%;
    background: url(../img/react_site.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
/* youtube */
.work-wrap .youtube .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .youtube .left h3 {
    color: #000C42;
    margin-right: -4vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .youtube .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 25vw;
}
.work-wrap .youtube .left .code {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-right: 6vw;
}
.work-wrap .youtube .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .youtube .right .img {
    position: absolute;
    left: 0;
    top: 70%;
    background: url(../img/react_youtube.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
/* vue */
.work-wrap .vue .left {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .vue .left .img {
    position: absolute;
    left: 0;
    top: 75%;
    background: url(../img/vue_site.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
.work-wrap .vue .right {
    width: 30%;
    text-align: left;
    position: relative;
    z-index: 100;
}
.work-wrap .vue .right h3 {
    color: #000C42;
    margin-left: -5vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .vue .right .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 12vw;
}
.work-wrap .vue .right .code {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 6vw;
}
/* php */
.work-wrap .php .left {
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 100;
}
.work-wrap .php .left h3 {
    color: #000C42;
    margin-right: -6vw;
    margin-top: -2vw;
    font-family: 'Migra-Extrabold';
    font-size: 7vw;
    line-height: 1;
}
.work-wrap .php .left .desc {
    font-family: 'GmarketSans';
    text-align: right;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 15vw;
}
.work-wrap .php .left .code {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-right: 6vw;
}
.work-wrap .php .right {
    width: 70%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.work-wrap .php .right .img {
    position: absolute;
    left: 0;
    top: 85%;
    background: url(../img/php_site.png) no-repeat center center;
    background-size: cover;
    width: 110%;
    height: 120%;
}
#section4 {
    background: #6C90EE;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* 가로모드 */
.horizontalWrap {
    width: 100%;
    height: 100vh;
}
.horizontalSection  {
    width: 700%;
    overscroll-behavior: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.section {
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}
.section1 {
    width: 100%;
    display: flex;
	position: relative;
	box-sizing: border-box;
	/* padding: 7.5vw 6vw; */
}
.script_wrap {}
.script_wrap .script {}
.script_wrap .js_intro {
    position: relative;
}
.script_wrap .js_intro .left {}
.script_wrap .js_intro h3 {
    font-family: 'Migra-Extrabold';
    font-size: 12vw;
    color: #fff;
    margin-top: 3vw;
    margin-left: 5vw;
}
.script_wrap .js_intro .left .desc {
    font-size: 1.5vw;
    color: #000C42;
    font-family: 'GmarketSans';
    width:50%;
    margin-left: 10vw;
    word-break: keep-all;
    line-height: 1.4;
}
.script_wrap .js_intro .left .list_inner {
    display: flex;
    margin-top: 5vw;
}
.script_wrap .js_intro .left .list {
    margin-left: 5vw;
    width: 20%;
    font-size:1.5vw;
    color: #fff;
    line-height: 1.4;
    word-break: keep-all;
    font-family: 'Migra-Extrabold';
    text-align: center;
}
.script_wrap .js_intro .left .list div:nth-child(1) {
    background: #000C42;
    margin-bottom: 1vw;
}
.script_wrap .js_intro .left .list div:nth-child(2) {
    background: #000C42;
    margin-bottom: 1vw;
}
.script_wrap .js_intro .left .list div:nth-child(3) {
    background: #000C42;
}
.script_wrap .js_intro .right {}
.script_wrap .js_intro .right .img1 {
    width: 100%;
    position: absolute;
    left: 40%;
    top: 52%;
    transform: rotate(-20deg);
    z-index: 101;
}
.script_wrap .js_intro .right .img2 {
    width: 100%;
    position: absolute;
    left: 40%;
    top: -40%;
    z-index: 101;
}

/* game */
.section2 {
    width: 100%;
	height: 100vh;
}
.script_wrap .script {
    margin-top: 5vw;
}
.script_wrap .game .top {
    width: 100%;
    height: 35vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.script_wrap .game .top h4 {
    color: #fff;
    /* margin-top: 6vw; */
    margin-left: 41vw;
    font-family: 'Migra-Extrabold';
    font-size: 5vw;
    line-height: 1;
    text-align: left;
}
.script_wrap .game .top .img {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/game_img.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.script_wrap .game .game_flex {
    display: flex;
}
.script_wrap .game .game_flex .left {
    width: 65%;
    z-index: 100;
    display: flex;
}
.script_wrap .game .game_flex .left .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-top: 1.5vw;
    margin-left: 17vw;
}
.script_wrap .game .game_flex .right {
    width: 35%;
}
.script_wrap .game .game_flex .right .code1 {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 7vw;
}

/* parallax */
.section3 {
    width: 100%;
	height: 100vh;
}
.script_wrap .parallax {}
.script_wrap .parallax .top {
    width: 100%;
    height: 35vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.script_wrap .parallax .top h4 {
    color: #fff;
    /* margin-top: 6vw; */
    margin-left: 40vw;
    font-family: 'Migra-Extrabold';
    font-size: 5vw;
    line-height: 1;
    text-align: left;
}
.script_wrap .parallax .top .img {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/parallax_img.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.script_wrap .parallax .parallax_flex {
    display: flex;
}
.script_wrap .parallax .parallax_flex .left {
    width: 65%;
    z-index: 100;
    display: flex;
}
.script_wrap .parallax .parallax_flex .left .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-top: 1.5vw;
    margin-left: 17vw;
}
.script_wrap .parallax .parallax_flex .right {
    width: 35%;
}
.script_wrap .parallax .parallax_flex .right .code1 {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 7vw;
}
/* MOUSE */
.section4 {
    width: 100%;
	height: 100vh;
}
.script_wrap .mouse {}
.script_wrap .mouse .top {
    width: 100%;
    height: 35vw;
    position: relative;
    overflow: hidden;
    display: flex;
}
.script_wrap .mouse .top h4 {
    margin-top: 3vw;
    color: #fff;
    /* margin-top: 6vw; */
    margin-left: 41vw;
    font-family: 'Migra-Extrabold';
    font-size: 5vw;
    line-height: 1;
    text-align: center;
}
.script_wrap .mouse .top .img {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/mouse_img.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.script_wrap .mouse .mouse_flex {
    display: flex;
}
.script_wrap .mouse .mouse_flex .left {
    width: 65%;
    z-index: 100;
    display: flex;
}
.script_wrap .mouse .mouse_flex .left .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-top: 1.5vw;
    margin-left: 17vw;
}
.script_wrap .mouse .mouse_flex .right {
    width: 35%;
}
.script_wrap .mouse .mouse_flex .right .code1 {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 7vw;
}

/* SLIDER */
.section5 {
    width: 100%;
	height: 100vh;
}
.script_wrap .slider {}
.script_wrap .slider .top {
    width: 100%;
    height: 35vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.script_wrap .slider .top h4 {
    color: #fff;
    /* margin-top: 6vw; */
    margin-left: 41vw;
    font-family: 'Migra-Extrabold';
    font-size: 5vw;
    line-height: 1;
    text-align: center;
}
.script_wrap .slider .top .img {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/slider_img.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.script_wrap .slider .slider_flex {
    display: flex;
}
.script_wrap .slider .slider_flex .left {
    width: 65%;
    z-index: 100;
    display: flex;
}
.script_wrap .slider .slider_flex .left .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-top: 1.5vw;
    margin-left: 17vw;
}
.script_wrap .slider .slider_flex .right {
    width: 35%;
}
.script_wrap .slider .slider_flex .right .code1 {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 7vw;
}

/* search */
.section6 {
    width: 100%;
	height: 100vh;
}
.script_wrap .search {}
.script_wrap .search .top {
    width: 100%;
    height: 35vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.script_wrap .search .top h4 {
    color: #000C42;
    /* margin-top: 6vw; */
    margin-left: 41vw;
    font-family: 'Migra-Extrabold';
    font-size: 5vw;
    line-height: 1;
    text-align: center;
}
.script_wrap .search .top .img {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/search_img.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.script_wrap .search .search_flex {
    display: flex;
}
.script_wrap .search .search_flex .left {
    width: 65%;
    z-index: 100;
    display: flex;
}
.script_wrap .search .search_flex .left .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-top: 1.5vw;
    margin-left: 17vw;
}
.script_wrap .search .search_flex .right {
    width: 35%;
}
.script_wrap .search .search_flex .right .code1 {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 7vw;
}

/* quiz */
.section6 {
    width: 100%;
	height: 100vh;
}
.script_wrap .quiz {}
.script_wrap .quiz .top {
    width: 100%;
    height: 35vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.script_wrap .quiz .top h4 {
    color: #000C42;
    /* margin-top: 6vw; */
    margin-left: 41vw;
    font-family: 'Migra-Extrabold';
    font-size: 5vw;
    line-height: 1;
    text-align: center;
}
.script_wrap .quiz .top .img {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/quiz_img.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.script_wrap .quiz .quiz_flex {
    display: flex;
}
.script_wrap .quiz .quiz_flex .left {
    width: 65%;
    z-index: 100;
    display: flex;
}
.script_wrap .quiz .quiz_flex .left .desc {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 1vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #000C42;
    padding-top: 1.5vw;
    margin-left: 17vw;
}
.script_wrap .quiz .quiz_flex .right {
    width: 35%;
}
.script_wrap .quiz .quiz_flex .right .code1 {
    background: #000C42;
    color: #fff;
    display:inline-block;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 1vw 2vw;
    font-family: 'Migra-Extrabold';
    margin-top: 2vw;
    text-align: center;
    margin-left: 7vw;
}

/* section5 */
#section5 {
    background: #090994;
}
#section5 h3 {
    color: #fff;
    padding: 1vw 0;
    text-align: right;
    font-size: 20vw;
    line-height: 1;
    padding-top: 4vw;
    font-family: 'Migra-Extrabold';
}
/* #section3 h2 em {
    font-size: 0.9vw;
    font-family: 'NexonLv2Gothic';
    padding-right: 10px;
    opacity: 0.5;
    vertical-align: 2px;
} */